@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>Hello, this website has been created for everyone's usage with its sole purpose being to help solve the debt crisis. As of july 29th, 2022, the total amount of student loan debt is $1.75 trillion. In 2022, the credit card debt ammount has risen to $15.84 trillion. This website's mission is to help everyone find a stable lifestyle that helps them take care of their debt situation.</p>
    
</div>
