
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h2>Personal information</h2>

<div>Your policy should disclose that your site will collect and maintain personal information provided by its users, including their names, addresses, mobile telephone numbers, email addresses, and so forth. 
It should also clarify that the amount of information they provide is completely voluntary; however, providing less information might limit a user's ability to access all of the site's features.</div>

<h2>Usage and analytics data</h2>

<div>Let the user know whether your company collects usage information in order to assess how users access and utilize the site. 
This data is valuable to the company for various internal purposes, including troubleshooting and improving the site's functionality. 
If applicable, feel free to disclose that the information you collect might include the user's Internet service provider, type of web browser or operating system, IP address, viewed pages, time and duration of site visits, crash logs, and other information relating to site usage.</div>